{:externs ["lancaster_externs.js"]
 :optimizations :advanced
 :output-dir "target/test_adv"
 :output-to "target/test_adv/test_main.js"
 :parallel-build true
 :source-map "target/test_adv/map.js.map"
 :static-fns true
 ;; :pseudo-names true
 ;; :pretty-print true
 }
