{:deps
 {camel-snake-kebab {:mvn/version "0.4.0"}
  cheshire {:mvn/version "5.8.1"}
  deercreeklabs/baracus {:mvn/version "0.2.0"}
  mvxcvi/puget {:mvn/version "1.1.1"}
  org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}
  primitive-math {:mvn/version "0.1.6"}
  prismatic/schema {:mvn/version "1.1.10"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases
 {:cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.21.1"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware"
                          "[cider.nrepl/cider-middleware]"]}

  :cider-cljs {:extra-deps {cider/cider-nrepl {:mvn/version "0.21.1"}
                            cider/piggieback {:mvn/version "0.4.0"}}
               :main-opts
               ["-m" "nrepl.cmdline" "--middleware"
                "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}
  :dev {:extra-deps {org.apache.avro/avro {:mvn/version "1.8.2"}
                     org.clojure/tools.namespace {:mvn/version "0.2.11"}}}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-389"}
                      lambdaisland/kaocha-cljs {:mvn/version "0.0-21"}
                      lambdaisland/kaocha-cloverage {:mvn/version "0.0-22"}}}}}
