{:deps
 {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
  cheshire/cheshire {:mvn/version "5.11.0"}
  deercreeklabs/baracus {:mvn/version "0.3.5"}
  mvxcvi/puget {:mvn/version "1.3.4"}
  org.clj-commons/primitive-math {:mvn/version "1.0.0"}
  ;; Do not upgrade. Later versions cause problems.
  prismatic/schema {:mvn/version "1.2.1"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases
 {:cider-clj {:main-opts ["-m" "nrepl.cmdline" "--middleware"
                          "[cider.nrepl/cider-middleware]"]}

  :cider-cljs {:extra-deps {cider/piggieback {:mvn/version "0.5.3"}}
               :main-opts
               ["-m" "nrepl.cmdline" "--middleware"
                "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

  :cider-nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.3"}}}

  :clj {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}

  :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}}}

  :dev {:extra-deps {org.apache.avro/avro {:mvn/version "1.11.1"}
                     org.clojure/tools.namespace {:mvn/version "1.4.2"}}}

  :pack {:extra-deps {pack/pack.alpha
                      {:git/url "https://github.com/juxt/pack.alpha.git"
                       :sha "b093f79420fef019faf62a75b888b5e10f4e8cc9"}}
         :main-opts ["-m"]}

  :test-clj {:extra-paths ["test"]
             :extra-deps {lambdaisland/kaocha {:mvn/version "1.80.1274"}}}

  :test-cljs {:extra-paths ["test"]
              :extra-deps {thheller/shadow-cljs {:mvn/version "2.21.0"}}}}}
